* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --blue: #CDEDFF;
    --orange: #FC531C;
    --dark: #002337;
    --dark-blue: #3A6278;
}


.app {
    min-height: 100vh;
    background-color: var(--blue);
}

.header {
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 20px;
    color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroText {
    width: 80%;
    font-size: 40px;
    line-height: 1em;
    color: var(--orange);
}

.hero p {
    margin-top: 20px;
    width: 80%;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

select {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    color: black;
    border-radius: 20px;
    padding: 0px 15px;
    font-size: 16px;
    margin-bottom: -10px;
}

.button {
    width: 100%;
    height: 45px;
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

}

.result-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    min-height: 216px;
    padding: 20px 40px;
    text-align: center;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-card h3 {
    font-size: 14px;
    color: var(--orange);
    font-weight: 700;
}

.result-card p {
    font-size: 18px;
    line-height: 0.9em;
    margin: 20px 0px;
    color: #000;
}

.copy {
    width: 100%;
    height: 40px;
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    /* For Desktop: */
    .header {
        padding: 20px 50px;
    }

    .heroText {
        font-size: 70px;
        width: 50%;
    }

    .hero p {
        width: 50%;
    }

    select,
    .button,
    .result-card {
        width: 50%;
    }

    .result-card {
        min-height: 250px;
        justify-content: space-between;
        padding: 30px 50px;
    }

    .result-card p {
        font-size: 25px;
    }


}